*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

/cookbooks
/.vagrant
/.kitchen
.kitchen.local.yml
/.librarian
/tmp
Cheffile.lock
chef-zookeeper*.tgz
metadata.json
.build
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*
